html {
	background: linear-gradient(-90deg, white, #b5fbff);
}
body {
	margin: 5%;
}
section{
	margin-left: auto;
  	margin-right: auto;
 	margin-bottom: 20px;
}
h1 {
	padding bottom: 10%; 
	padding-top: 10%;
	background-image: url("imagenes/header/gierheader2.jpg");
	background-repeat: no-repeat;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #0086d3;
	text-align: center;
	font-size: 3em;
	border-style: solid;
	border-width: 0 0 10px 0;
}
b {
	font-family: 'Fredoka One'
}
.second-container{
	width: 100%;
	margin-left: auto;
	left: auto;
	right: auto;
}
.user-interfase {
	float: left;
	width: 50%;
}
.propiedades{
	float: left;
	width: 48%;
}
.header-right {
	border: 3px solid #00436b;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
}
h2 {
	color: #67c2f7;
	font-family: 'Fredoka One';
	font-size: 3em;
	margin: 0.5em;
}
.welcomeimg {
	padding-right: 25%; 
	padding-left: 25%;
	max-width: 100%;
    height: auto;
}
.text-interfase {
    height: 15em;
}
.messages {
	border-radius: 5px;
	margin-left: 4.3em;
	height: 15em;
	display: block;
	width: 72%;
	overflow-y: scroll;
	background: linear-gradient(-90deg, #636363, #474747);
}
li {
	border-style: solid;
	border-width: 0em 0em 0.1em 0em;
	border-color: white;
	display: inline-block;
	width: 22em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.30em;
	padding-bottom: 0.30em;
	font-family: 'Sansita', sans-serif;
	color: white;
	position: inherit;
	text-align: justify;
}
.answer {
	padding-left: 2em;
	width: 80%
}
.input-interfase{
	padding-top: 1em;
	padding-left: 5em;
	padding-right: 5em;
	padding-bottom: 3em;
}
input[name="chat-text"]{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	float: left;
	color: black;
	width: 75%;
    border: 1.5px solid #00278e;
    border-radius: 4px;
    padding: 0.4em;
    margin-right: 1%;
}
#text-button{
	border: none;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.2em;
	height: 2.3em;
	background: linear-gradient(-90deg, #db2b2b, red);
	text-decoration: none;
	text-transform: uppercase;
	-webkit-tap-highlight-color: transparent;
	padding-bottom: 1em;
}
#text-button:hover{
	background: #018708;
}
#text-button:active{
	background: #018708;
	background-color: rgba(1, 135, 8, .9);
}
#imagenicon{
	width: 1em;
	height: 1,5em;
}
i{
	right: 2%;
    top: 0.3em;
    position: relative;
}
.interactionA{
	font-family: 'Roboto Slab', serif;
}
.interactionB{
	font-family: 'Roboto Slab', serif;
	color: #62ff49;
}
.aimst {
    height: 4em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 24%;
    padding-right: 24%;
}
.aimstb{
	width: 3em;
	height: 1em;
}
.config {
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	text-transform: uppercase;

}
.alegria {
	background-color: #ffdd00;
	color: black;
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 1em;
    margin: 2px;
    text-align: center;
    position: relative;
}
.asco{
	background-color: green;
	color: black;
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 1em;
    margin: 2px;
    text-align: center;
    position: relative;
}
.ira {
	background-color: red;
	color: black;
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 1em;
    margin: 2px;
    text-align: center;
    position: relative;
}
.miedo{
	background-color:grey;
	color: black;
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 1em;
    margin: 2px;
    text-align: center;
    position: relative;
}
.sorpresa {
	background-color: white;
	color: black;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1em;
    margin: 2px;
    text-align: center;
    position: relative;
}
.tristeza {
	background-color: blue;
	color: black;
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 1em;
    margin: 2px;
    text-align: center;
    position: relative;
}
.botonesEm {
    padding-left: 14%;
    padding-right: 14%;
}
.activarEm{
	background-color: rgb(0, 109, 12);
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'PT Serif', serif;
    font-size: large;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.activarEm:hover {background-color: #3e8e41}
.estabilizador{
	background-color: rgb(0, 183, 189);
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'PT Serif', serif;
    font-size: large;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.estabilizador:hover {background-color: #0af5f2}
.desactivarEm{
	background-color: rgb(187, 2, 2);
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'PT Serif', serif;
    font-size: large;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.desactivarEm:hover {background-color: #ff0000}